<!--

    Copyright (C) 2013 Alessandro <alessandro dot leite at alessandro dot cc>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] |%d{MMM dd HH:mm:ss}| [%t] %c{2} %x - %m%n" />
		</layout>
	</appender>	
	
	<appender name="FA" class="org.apache.log4j.FileAppender">
    		<param name="file" value="${log4j.log.file}"/>
    		<param name="Threshold" value="INFO"/> 	
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] |%d{MMM dd HH:mm:ss}| [%t] %c{2} %x - %m%n" />
		</layout>
	</appender>	
	
	<category name="org.springframework">
		<level value="WARN"/>
	</category>
	
	<logger name="org.gridobservatory.greencomputing">
		<level value="DEBUG"/>
		<appender-ref ref="FA"/>
		<appender-ref ref="CA"/>
	</logger>
	
</log4j:configuration>